.contact {
    min-height: 100vh;
    padding: 5vh 5vw;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    background: #f4f4f4;
    // border: 2px solid red;
    margin: 0;
    // background: url(../img/card.jpg);
    position: relative;
    isolation: isolate;
    // SECTION BG OVERLAY
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -1;
    //     background-color: rgba(0, 0, 0, .85);
    // }
    @media (min-width: 768px){
        padding: 10vh 5vw;
        // background-attachment: fixed;
    }
    &#contact {
        background-color: #000;
    }
    // CONTACT PAGE
    &.contact-page {
        margin: 10vh 0;
        z-index: 1;

        @media (max-width: 820px) {
            padding: 5vh 0;
        }

        .container {
            flex-direction: column;
            .contact-info {
                position: sticky;
                // width: 90%;
                top: 10vh;
                margin: 0 5vw;
                justify-content: flex-start;

                @media (max-width: 1024px) {
                    // height: 90vh;
                    width: 90%;
                }

                @media (min-width: 1024px) {
                    height: 90vh;;
                    // width: 100%;
                }

                .box {
                    margin-bottom: 1rem;
                }
            }
        }

        details {
            // border: 2px solid yellow;
            margin-bottom: 1rem;
            color: $brand-gold;
            transition: 2s;
            cursor: pointer;
            display: block;

            ul {
                // margin-top: .5rem;
                margin: .5rem 0;
                padding: .5rem 0 0;
                border-radius: 5px;
                border: 2px solid $brand-gold;
                border: 2px solid rgba(255, 255, 255, 0.267);

                &.details-grid {
                    height: 20vh;
                    overflow-y: scroll;
                    // SCROLLBAR STYLE
                    &::-webkit-scrollbar {
                        width: .5rem;
                    }
                    &::-webkit-scrollbar-track {
                        // background-color: $brand-gold;
                        // background-color: #333;
                        border-radius: 3px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $brand-gold;
                        border-radius: 5px;
                    }
                    li {
                        display: flex;

                        p {
                            flex-basis: 50%;
                        }
                    }
                }

                li {
                    // justify-content: space-between;
                    // border: 2px solid red;
                    // padding-left: .3rem;
                    list-style: none;
                    padding: .5rem .3rem;

                    &:nth-child(even) {
                        background: #161616;
                    }

                    p {
                        // border: 2px solid pink;
                        padding: .2rem 0;
                        text-align: left;
                        // flex-basis: 50%;
                        color: #f4f4f4;

                        &.detail-title {
                            font-weight: 700;
                            color: #f4f4f4;
                            text-transform: capitalize;
                            font-size: .9rem;
                        }

                        &.detail-data {
                            font-weight: 300;
                            text-transform: capitalize;
                        }
                    }

                    a {
                        color: $brand-gold;
                    }
                }
            }

            summary {
                transition: .2s;
                text-transform: capitalize;

                &::marker {
                    color: $brand-gold;
                }
            }

            &[open] {
                summary {
                    opacity: .5;
                }
            }
        }

        #order-form {
            margin: 0 auto 15vh;
            // width: 90%;
            @media (min-width:820px) {
                width: 70%;
            }
            form {
                width: 100%;
            }

            fieldset {
                border: 1px solid #f4f4f47e;
                border-radius: 5px;
                padding: 5vh 1rem;
                margin-bottom: 5vh;
                overflow: hidden;
                transition: .5s;

                legend {
                    color: $brand-gold;
                    color: #f4f4f4;
                    text-transform: capitalize;
                    font-size: 1.15rem;
                    // margin-left: .5rem;
                    margin: 0 auto;

                    i {
                        margin-right: .25rem;
                        color: $brand-gold;
                    }
                    @media (min-width: 820px){
                        font-size: 1.25rem;
                    }
                }

                .input-box {
                    // border: 1px solid red;
                    margin: 5vh 0;
                }

                // PRODUCTS FIELDS
                &.product-field {
                    display: flex;
                    flex-direction: column;

                    label {
                        color: #f4f4f4;
                        color: $brand-gold;
                        text-transform: capitalize;
                        margin-bottom: .5rem;
                    }

                    select {
                        margin-bottom: 1rem;
                        text-transform: capitalize;
                        font-size: 1rem;
                        padding: .5rem 0;
                        border-radius: 5px;

                        optgroup {
                            &[label] {}

                            option {}
                        }
                    }

                    input {
                        padding: .5rem;
                        width: 50%;
                    }
                }
            }
        }
    }
    // END OF CONTACT PAGE

    .content {
        // max-width: 800px;
        text-align: center;
        // background: #fffa;

        p {
            display: none;
            color: #f4f4f4;
            margin: 5vh auto;
        }
    }
    .form-links {
        // border: 1px solid yellow;
        margin: 5vh 0;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
        a {
            // border: 1px solid blue;
            display: block;
            margin: 0 1rem;
            text-transform: capitalize;
            color: #fff;
            padding: .5rem 1rem;
            font-family: $font-ubuntu;
            text-decoration: none;
            border-radius: $border-radius-brand;
            outline-offset: -4px;
            transition: .25s;

            &.enquiry {
                color: $span-gold;
                text-decoration: underline 2px solid $span-gold;
                // background: #111;
            }
            &.order {
                outline: 2px solid $span-gold;
                background: linear-gradient(0deg, #000, #111);
                color: #ead2a1;
            }
            &:hover {
                transform: scale(.98);
            }
            &:active {
                transition: .15s;
                transform: scale(.95);
            }
        }
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: flex-start;
        min-height: unset;
        border-radius: .5rem;
        // height: auto;
        margin: 10vh auto 5vh;
        // border: 2px solid green;
        background: $brand-bg-gradient;
        background: transparent;
        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 5vh;
            .contact-info {
                margin-bottom: 40px;
            }
        }
        
    }
    .contact-title {
        font-size: 1.5rem;
        font-family: $font-ubuntu;
        text-transform: capitalize;
        // text-align: center;
        margin-bottom: 5vh;
        color: #f4f4f4;
        letter-spacing: .1rem;
        position: relative;
        // border: 2px solid red;
        @include lg {
            margin-bottom: 10vh;
        }
        // PSEUDO UNDERLINE
        &::after {
            content: '';
            position: absolute;
            bottom: -.5rem;
            left: 0;
            // transform: translateX(-50%) scale(.1);
            // transform: scale(.1);
            width: 5rem;
            height: .2rem;
            background-color: #fff6;
            border-radius: 10px;
            transition: 1s;
        }
        @media (max-width: 1024px) {
            margin-bottom: 10vh;
            &::after {
                width: 8rem;
            }
        }

        &.active-box {
            &::after {
                // transform: translateX(-50%) scale(1);
                transform: scale(1);
            }
        }
    }
    .contact-info {
        @media (max-width: 1024px) {
            width: 100%;
        }
        // border: 1px solid #ead2a1;
        // border: 1px solid #fff3;
        padding: 1rem 0;
        border-radius: .5rem;
        width: 40%;
        background: $brand-dark-overlay;
        background: #000;
        box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.200);
        // .contact-info-flex-container {
        //     display: flex;
        //     flex-direction: column;
            
        // }
        .contact-item {
            // border: 2px solid red;
            position: relative;
            padding: 1rem 0;
            display: flex;
            overflow: hidden;

            .icon {
                width: 60px;
                height: 60px;
                background: #161616;
                // border: 1px solid hsla(40, 63%, 77%, .3);
                // border: 1px solid #fff3;
                display: grid;
                place-items: center;
                border-radius: 50%;
                font-size: 2rem;
                color: #fffa;
                position: relative;
                transition: .2s;
                // PSEUDO ICONS
                // ICON CHANGES VIA IO FROM BEFORE TO AFTER PSEUDO ICON
                &::before {
                    position: absolute;
                    content: '';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    font-size: 1.5rem;
                    color: #f4f4f4;
                    display: grid;
                    place-items: center;
                    width: 100%;
                    height: 100%;
                    transition: 1s;
                    opacity: 1;
                    // color: #fff;
                
                }
                &::after {
                    position: absolute;
                    content: '';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    font-size: 1.5rem;
                    display: grid;
                    place-items: center;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transform: translateY(-1rem);
                    transition: 1s;
                }
                &.address {
                    &::before {
                        content: '\f3c5';
                    }
                    &::after {
                        content: '\f59f';
                    }
                }
                &.phone {
                    &::before {
                        content: '\f2a0';
                    }
                    &::after {
                        content: '\f095';
                    }
                }
                &.email {
                    &::before {
                        content: '\f1d8';
                    }
                    &::after {
                    content: '\f0e0';
                    }
                }
                
                i {
                    display: none;
                    opacity: 0;
                    transform: scale(.5);
                    transition: 1.5s;
                }
            }

            .text {
                display: flex;
                margin-left: 20px;
                font-size: 1rem;
                
                flex-direction: column;

                h3 {
                    text-transform: uppercase;
                    text-transform: capitalize;
                    font-weight: 600;
                    color: #ead2a1;
                    color: #f4f4f4;
                    margin-bottom: .5rem;
                    transition: 1s;
                    // transform: translateX(.5rem);
                    opacity: 1;
                }

                p, a {
                    color: #ead2a1;
                    color: #f4f4f4;
                    font-family: $font-ubuntu;
                    letter-spacing: .05rem;
                    transition: 1s;
                    // transform: translateY(.25rem);
                    opacity: 1;
                    text-decoration: none;
                }

                a {
                    i {
                        margin-right: .5rem;
                    }
                    &:hover {
                        color: #fff9;
                        transition: .25s;
                    }
                }
            }
        }
    }
    
    .contact-form {
        @media (max-width: 1024px) {
            width: 100%;
            padding: 1rem .5rem;
            margin: 5vh auto;
            overflow: hidden;
        }
        box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.200);
        width: 55%;
        padding: 1rem;
        background: #000;
        border-radius: .5rem;
        font-family: $font-ubuntu;

        

        .input-box {
            position: relative;
            width: 100%;
            margin: 1rem 0;
            // border: 1px solid yellow;

            label {
                font-family: $font-ubuntu;
                text-transform: capitalize;
                position: absolute;
                top: -1rem;
                transition: .5s;
                color: $brand-gold;
                color: #fff;
            }

            input,
            textarea {
                font-family: $font-ubuntu;
                width: 100%;
                padding: .5rem .5rem;
                font-size: 1rem;
                margin: 1rem 0;
                background: #333;
                color: #ead2a1;
                resize: none;
                border: none;
                outline: 1px solid rgba(234, 210, 161, .5);
                border-radius: $border-radius-brand;
                transition: .25s;
                // resize: none;
                &::placeholder {
                    opacity: 0;
                    letter-spacing: .1rem;
                    transition: .5s;
                }
                &:invalid {
                    outline-color: transparent;
                    &:focus {
                        outline-color: $brand;
                    }
                }
                &:focus {
                    color: #ffff;
                    transition: .2s;
                    &::placeholder {
                        opacity: 1;
                        letter-spacing: normal;
                    }
                }
            } 
        }

        // SUBMIT BUTTON
        .submit-btn {
            display: block;
            width: 11rem;
            padding: 1rem;
            // margin: .5rem auto;
            background: $brand-dark;
            border: none;
            cursor: pointer;
            font-size: 1.025rem;
            font-weight: 500;
            text-transform: capitalize;
            border-radius: $border-radius-brand;
            color: #000;
            transition: .2s;
            position: relative;
            isolation: isolate;
            i {
                margin-left: .5rem;
            }
            &::before, &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: .2s;
                border-radius: $border-radius-brand;
                z-index: -1;
            }
            &::before {
                background: linear-gradient(0deg, #ddd, #fafafa);
                // box-shadow: $box-shadow;
            }
            &::after {
                opacity: 0;
                background: linear-gradient(0deg, #fafafa, #ddd);
                box-shadow: $box-shadow-hover;
            }

            @media (min-width: 1024px) {
                &:hover {
                    transform: scale(.98);
                    // letter-spacing: .05rem;

                    &::before {
                        opacity: 0;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
                &:active {
                    transform: scale(.97);
                }
            }

            @media (max-width: 1024px) {
                &:active {
                    transform: scale(.95);
                    // letter-spacing: .05rem;

                    &::before {
                        opacity: 0;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}