@import 'variables';

#header {
    background-color: transparent;
    background-color: $brand-gold;
    height: 7vh;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: .5s;
    isolation: isolate;
    // PSEUDO HEADER BG 
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $brand-gold;
        z-index: -1;
        transition: .25s;
    }

    // IO STYLE
    &.hero-header {
        &::after {
            opacity: 0;
        }
    }
    &.index-header {
    background-color: #161616a4;
    background-color: transparent;
        &.scroll {
            background-color: $header;
            background-color: $brand-gold;
            // .logo {
            //     opacity: 1;
            //     transform: translateY(0);
            // }
            &.active {
                background: $header-active;
                // background: $brand-gold;

                .hamburger {
                    // border: 2px solid #000;
                    // border: 2px solid $brand-gold;
                    .bar {
                        background: #000;
                        background: $brand-gold;
                        &::after, &::before {
                            background: $brand-gold;
                        }
                    }
                }
            }
            .hamburger {
                transition: .5s;
                // border: 2px solid #ead2a1;
                // border: 2px solid #000;
                .bar {
                    transition: .5s;

                    background: #ead2a1;
                    background: #000;

                    &::after,
                    &::before {
                        transition: .5s;

                        background: #ead2a1;
                        background: #000;
                    }
                }
            }
            .desktop-nav {
                ul {
                    transition: .2s;

                    li {
                        transition: .3s;
                        a {
                            color: #000;
                        }
                    }

                    &:hover {

                        li {
                            a {
                                color: #000;
                                
                                &::after {
                                    background-color: #000;
                                }
                            }
                            &:hover {
                                // transform: scale(1.05);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    
    // LOGO / BRAND
    .logo {
        // border: 1px solid #000;
        width: 10rem;
        height: 6vh;
        // overflow: hidden;
        display: grid;
        align-items: center;
        cursor: pointer;
        transition: .5s;
        position: relative;
        h1 {
            font-size: 1.3rem;
            color: #ead2a1;
            a {
                color: #ead2a1;
                    font-family: $font-header;
                text-decoration: none;

                i {
                    color: #ead2a1; 
                    margin-right: .2rem;
                    transition: .2s;
                    // background: linear-gradient(30deg, orange,  orangered);
                    // background-clip: text;
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;

                }
            }
        }
        img {
            width: auto;
            // border: 1px solid blue;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: .5rem;
            transition: .5s;
            transform: translateY(0) translateX(0) scale(1);

            
        }

        &.active-logo {
            img {
                transform: translateY(30vh) translateX(35vw) scale(5);
                @media(min-width:1024px) {
                    transform: translateY(40vh) translateX(45vw) scale(7);
                }
            }
        }
        // DESKTOP LOGO
        // @media (min-width: 768px) {
        //     width: 13rem;
        //     height: 100%;
        //     figure {
        //         width: 100%;
        //         height: 100%;
        //         img {
        //             object-fit: cover;
        //             width: 100%;
        //             height: 100%;
        //         }
        //     }
        // }
    }

    nav {
        // GLOBAL UL> LI STYLE
        ul {
            list-style: none;
            text-transform: capitalize;

            a {
                text-decoration: none;
            }
        }
        // MOBILE NAV
        .hamburger {
            // MOBILE UL
            .mobile-links {
                position: absolute;
                top: 7vh;
                right: 0;
                width: 100vw;
                height: 0;
                // height: 50vh;
                opacity: 0;
                opacity: 1;
                background: #000;
                overflow: hidden;
                padding: 0 5vw;
                transition: .5s ease;
                z-index: 10;

                ul {
                    // border: 1px solid #fff000;
                    margin: 1rem auto 2rem;
                    text-align: center;
                    text-align: left;
                    padding-bottom: 1rem;
                    border-bottom: .125rem solid $brand-gold;
                    li {
                        border: 1px solid #111;
                        border-radius: .5rem;
                        margin-bottom: .5rem;
                        overflow: hidden;

                        a {
                            color: #fff;
                            // border: 1px solid yellow;
                            width: 100%;
                            height: 100%;
                            display: block;
                            padding: .5rem;
                            font-family: $font-ubuntu;
                            text-transform: capitalize;
                            transition: .2s;
                            opacity: 0;
                            transform: translateY(1rem);
                            letter-spacing: .05rem;
                        }
                        &:hover {
                            border-color: $brand-gold;
                        }
                    }
                }
                .social-links {
                    // border: 1px solid $brand-gold;
                    padding: .5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        margin: 0 1rem;

                        i {
                            font-size: 1.5rem;
                            color: $brand-gold;
                        }
                    }
                }
                .contact-links {
                    // border: 2px solid yellow;
                    margin-top: 1rem;
                    .contact-link {
                        // border: 1px solid pink;
                        transform: translateY(-5vh);
                        opacity: 0;
                        padding: .5rem 0;
                        display: flex;
                        transition: .5s;
                        i {
                            color: $brand-gold;
                            color: #fff;
                            // flex-basis: 5%;
                            margin-right: .5rem;
                            opacity: .8;
                        }
                        a{
                            color: $span-gold;
                            text-decoration: none;
                            // border: 1px solid red;
                            width: 100%;
                        }
                    }
                }
                &.active {
                    height: 65vh;
                    li {
                        a {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        &:nth-child(1) {
                            a {
                            transition-delay: .25s;
                            }
                        }
                        &:nth-child(2) {
                            a {
                            transition-delay: .3s;
                            }
                        }
                        &:nth-child(3) {
                            a {
                            transition-delay: .35s;
                            }
                        }
                        &:nth-child(4) {
                            a {
                            transition-delay: .4s;
                            }
                        }
                    }
                    .contact-links {
                        .contact-link {
                            transform: translateY(0);
                            opacity: 1;
                            &:nth-child(1){
                                // transition: 2s;
                                transition-delay: .45s;
                            }
                            &:nth-child(2){
                                // transition: 2s;
                                transition-delay: .55s;
                            }
                            &:nth-child(3){
                                // transition: 2s;
                                transition-delay: .66s;
                            }
                            &:nth-child(4){
                                // transition: 2s;
                                transition-delay: 1.2s;
                            }
                        }
                    }
                }
            }
            // SHOW MOBILE NAV ON HOVER
            // &:hover {
            //     .mobile-links {
            //         opacity: 1;
            //         height: 50vh;
            //     }
            // }
        }
        // DESKTOP NAV
        @media (min-width: 1024px) {
            background-color: transparent;
            .desktop-nav {
                // border: 1px solid #000;
                width: 25rem;
                padding: .2rem 0;

                .desktop-nav-links {
                    display: flex;
                    justify-content: space-between;
                    
                    li {
                        a {
                            color: $navLinks;
                            font-family: $font-ubuntu;
                            text-transform: capitalize;
                            // border: 1px solid yellow;
                            position: relative;
                            transition: .2s;

                            // LINKS UNDERLINE
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -.25rem;
                                left: 50%;
                                transform: translateX(-50%) scale(0);
                                transition: .3s ease;
                                opacity: 1;
                                width: 70%;
                                height: .125rem;
                                background: $brand;
                                background: #000;
                            }

                            &:hover {
                                color: $brand;
                                color: #000;

                                &::after {
                                    opacity: 1;
                                    transform: translateX(-50%) scale(1);

                                }
                            }
                        }
                    }
                }
            }
        }
        // REMOVE HAMBURGER MENU ON DESKTOPS
        @media (min-width: 1024px) {
        .hamburger {
                display: none;
            }
        }
        // REMOVE DESKTOP-NAV ON MOBILE SCREENS
        @media (max-width: 1024px) {
            .desktop-nav {
                    display: none;
                }
            }

        
    }

    // HEADER HOVER STATE
    &.active {
        @media (max-width: 768px){
            &::after {
                background: #000;
            }
        }
        .logo {
            opacity: .8;
            transform: translateY(0);
            &:hover {
                opacity: 1;
            }
        }
    }
}