// MOBILE FIRST HERO
.hero {
    border: 1px solid #000;
    border: none;
    margin: 0;
    padding: 5vh 5vw;
    width: 100%;
    height: 95vh;
    background-color: $brand-bg;
    position: relative;
    isolation: isolate;

    // background-image: url(../img/bobby-donald-KikhsHzIO9o-unsplash.jpg);
    // background-repeat: no-repeat;  
    // background-size: cover;
    // background-position: center; 
    @include lg {
        // background-attachment: fixed;
        // background-position: right;
        // background-size: 50%;
    }
    // HERO DECORATION
    // &::after {
    //     position: absolute;
    //     content: '';
    //     top: 15%;
    //     left: 50%;
    //     transform: translateX(-50%) rotate(45deg);
    //     width: 15rem;
    //     height: 15rem;
    //     border: 2px solid rgba(0, 0,0, .05);
    //     background: rgba(0, 0, 0, 0.015);
    //     z-index: -1;
    //     @media (min-width: 768px) {
    //         width: 20rem;
    //         height: 20rem;
    //     }
    // }
    .hero-content {
        // border: 2px solid #000;
        // margin-top: 20vh;
        text-transform: capitalize;
        padding: 1rem 0;
        // padding: 1rem .5rem;
        position: relative;
        top: 18vh;
        @include md {
            top: 50%;
            transform: translateY(-50%);
        }
        .hero-title {
            font-weight: 500;
            font-size: 1rem;
            font-size: clamp(1.025rem, 2vw, 1.25rem);
        }

        .hero-headline {
            font-weight: 600;
            font-size: 1.5rem;
            font-size: clamp(2rem, 4vw, 2.5rem);
            margin: .5rem 0 2rem;
            position: relative;
            padding: 0 .5rem;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 90%;
                width: .2rem;
                background-color: #0003;
            }

            span {
                display: block;
                font-size: 1rem;
                font-size: clamp(1rem, 2vw, 1.15rem);
                font-weight: 200;
                margin-top: .25rem;
            }
        }
    }
    .hero-bg {
        // border: 2px solid red;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $brand-bg;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
            mix-blend-mode: darken;
            // border: 2px solid red;
            @include md {
                display: none;
            }
        }

        @include md {
            background-image: url(../img/bobby-donald-KikhsHzIO9o-unsplash.jpg);
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            background-color: #fafafa;
            // mix-blend-mode: color;
        }
    }
}