// MOBILE FIRST HERO
.hero {
    border: 1px solid #000;
    border: none;
    padding: 5vh 5vw;
    width: 100%;
    height: 95vh;
    background-color: $brand-bg;
    position: relative;
    isolation: isolate;
    @include lg {
    }
    // HERO DECORATION
    // &::after {
    //     position: absolute;
    //     content: '';
    //     top: 15%;
    //     left: 50%;
    //     transform: translateX(-50%) rotate(45deg);
    //     width: 15rem;
    //     height: 15rem;
    //     border: 2px solid rgba(0, 0,0, .05);
    //     background: rgba(0, 0, 0, 0.015);
    //     z-index: -1;
    //     @media (min-width: 768px) {
    //         width: 20rem;
    //         height: 20rem;
    //     }
    // }
    .hero-content {
        // border: 2px solid #000;
        // margin-top: 20vh;
        text-transform: capitalize;
        padding: 1rem 0;
        // padding: 1rem .5rem;
        position: relative;
        top: 18vh;
        @include md {
            top: 50%;
            transform: translateY(-50%);
        }
        .hero-title {
            // color: $brand-dark;
            font-weight: 500;
            font-size: 1rem;
            font-size: clamp(1.025rem, 2vw, 1.25rem);
        }

        .hero-headline {
            font-weight: 600;
            font-size: 2rem;
            font-size: clamp(2rem, 4vw, 2.5rem);
            margin: .5rem 0 2rem;
            position: relative;
            padding: 0 .5rem;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 90%;
                width: .2rem;
                background-color: hsla(300, 100%, 25%, .3);
                background-color: #0003;
            }

            span {
                display: block;
                font-size: 1rem;
                font-size: clamp(1rem, 2vw, 1.15rem);
                font-weight: 200;
                margin-top: .25rem;
                // text-transform: none;
            }
        }

        &.purple-content {
            .hero-title {
                color: purple;
            }
            .hero-headline {
                &::after {
                    background: purple;
                }
            }
        }
    }
    .hero-bg {
        // border: 2px solid red;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $brand-bg;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
            mix-blend-mode: darken;
            // border: 2px solid red;
            @include md {
                display: none;
            }
        }

        @include md {
            background-image: url(../img/bobby-donald-KikhsHzIO9o-unsplash.jpg);
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            background-color: #fafafa;
            // mix-blend-mode: color;
        }
    }

    // ABOUT PAGE HERO SECTION 
    &.about-hero {
        // border: 2px solid red;

        .hero-bg {
                background: $brand-bg;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(90deg, $brand-bg 50%, transparent);
                    // opacity: .4;
                    @include lg {
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    mix-blend-mode: darken;
                    // border: 2px solid red;
                    @include md {
                        display: none;
                    }
                }
        
                @include md {
                    background-image: url(../img/bobby-donald-KikhsHzIO9o-unsplash.jpg);
                    background-attachment: fixed;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: right;
                    background-color: #fafafa;
                    // mix-blend-mode: color;
                }
            
        }
    }
}

.menu {
    // border: 2px solid red;
    padding: 10vh 5vw 5vh;
    display: grid;
    gap: 5vh;
    @include md {
        grid-template-columns: 1fr 1fr;
        gap: 5vw;
        grid-template-rows: auto;
    }
    .menu-item {
        // border: 1px solid red;
        text-transform: capitalize;
    }
    h2 {
        background: #000;
        color: #fff;
        text-align: center;
        padding: 1rem 1rem;
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
        text-transform: uppercase;
        &.jd {
            background: $purple-gradient;
        }
        &.am {
            background: $red-gradient;
        }
    }
    .menu-content {
        // border: 2px solid blue;
        line-height: 1.6;
        margin-bottom: 10vh;
        padding: .1rem 0;
        
        .menu-description {
            padding: 1rem .25rem 1rem 1rem;
            font-weight: 500;
            position: relative;
            // border: 2px solid red;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 60%;
                width: .2rem;
                background: #000;
                transition: 1s;
            }
            &.purple-desc {
                &::before {
                    background-color: $span-purple;
                }
            }
            &.red-desc {
                &::before {
                    background-color: $span-red;
                }
            }
            // IO CLASSES
            &.box {
                &::before {
                    transform: translateY(-50%) scaleY(0);
                }
            }
            &.active-box {
                &::before {
                    transform: translateY(-50%) scaleY(1);
                }
            }
        }
        .menu-item-list {
            // border: 2px solid yellow;
            // list-style: none;
            padding: 0 1rem 1rem;
            position: relative;
            isolation: isolate;
            background: $brand-bg;
            
            &.purple-list {
                li {
                    &::marker {
                        color: $span-purple;
                    }
                }
                &::before {
                    background: $span-purple;
                }
            }
            &.red-list {
                li {
                    &::marker {
                        color: $span-red;
                    }
                }
                &::before {
                    background: $span-red;
                }
            }
            // MENU LIST IO CLASSES
            &.box {
                ul {
                    li {
                        &::marker {
                            color: transparent;
                        }
                    }
                }
            }
            &.active-box {
                // TRANSITION LIST MARKER COLORS
                ul {
                    li {
                        &::marker {
                            transition: calc(.5s + .5s * var(--li));
                        }
                        
                    }
                    // PURPLE UL LIST COLOR
                    &.purple-ul {
                        li {
                            &::marker {
                                color: $span-purple;
                            }
                        }
                    }
                    // RED UL LIST COLOR
                    &.red-ul {
                        li {
                            &::marker {
                                color: $span-red;
                            }
                        }
                    }
                }
            }

            img {
                // width: 5rem;
                // width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: right;
                z-index: -1;
                mix-blend-mode: darken;

            }

            // .flex-container {
            //     border: 2px solid red;
            //     width: 100%;
            //     display: flex;
            //     img {
            //         width: 5rem;
            //     }
            // }

        }
        .menu-item-flex-list {
            // border: 2px solid red;
            padding: 1rem;
            background-color: #000;
            color: #fff;
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .25rem 0;
                border-bottom: 1px solid transparent;
                &:last-of-type {
                    border-bottom: none;
                }
                
                &:hover {
                    border-bottom-color: green;
                    transition: 2;
                }
            }
            &.red-flex-list {
                li {
                    border-bottom-color: $span-red;
                }
            }
            &.purple-flex-list {
                li {
                    border-bottom-color: $span-purple;
                }
            }

            // LIST IO CLASSES
            &.box {
                ul {
                    li {
                        border-bottom-color: transparent;
                        transition: calc(.5s + .5s * var(--li));
                    }
                }
            }
            &.active-box {
                &.red-flex-list {
                    li {
                        border-bottom-color: $span-red;
                    }
                }
                &.purple-flex-list {
                    li {
                        border-bottom-color: $span-purple;
                    }
                }
            }
        }
    }
    

}