.products {
    // PAGE STYLE
    &.products-page {
        // margin: 5vh 3vw;
        
        .products-container {
            // border: 2px solid #000a;
            border-radius: 5px;
            padding: 5vh 0 1rem;
            position: relative;
            .container-title {
                font-family: $font-ubuntu;
                text-transform: capitalize;
                font-size: 1rem;
                // border: 1px solid red;
                width: 100%;
                // text-align: center;
                
                background: #000;
                padding: 1rem;
                color: #fff;
                margin-bottom: 10vh;
            }
        }
    }
    padding: 10vh 5vw 5vh;
    background: $brand-bg;
    // border: 2px solid red;

    .products-container {
        // border: 2px solid blue;
        margin-top: 10vh;
        // padding-top: 10vh;
    }
    .product-items-grid {
        display: grid;
        gap: 5vh;
        // background-color: $brand-gold;
        text-transform: capitalize;
        transition: all .4s cubic-bezier(0,1.57,.67,1.18);
        // opacity: 0;
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 20rem;
        }
        @media (min-width: 1024px) {
            gap: 5vw;
            grid-template-columns: 1fr 1fr 1fr;
        }

    }
    .product-item {
        @media (max-width: 768px) {
            margin: 5vh auto;
            // border: none;
        }
        // width: 250px;
        width: 100%;
        background: $brand-bg-light;
        // border: 2px solid #000;
        position: relative;
        // overflow: hidden;
        margin: 1.5rem 0;
        border-radius: $border-radius-brand;
        text-align: center;
        padding: 1rem .5rem;
        transition: .5s;
        transform-style: preserve-3d;
        isolation: isolate;
        // padding: 1rem.25rem;
        // PSEUDO SHADOW
        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $border-radius-brand;
            transition: .5s ease;
            z-index: -1;
        }
        &::before {
            // background: green;
            box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, .150);
        }
        &::after {
            // background: pink;
            opacity: 0;
            box-shadow: .15rem .7rem .5rem rgba(0, 0, 0, .150);
        }
        .product-image {
            // background: linear-gradient(30deg, #ddd, #4444);
            // background: #fff4cf;
            text-align: center;
            // border: 2px solid red;
            // overflow: hidden;
            position: relative;
            isolation: isolate;
            margin-bottom: 1rem;
            &::after {
                position: absolute;
                content: '';
                top: 0rem;
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
                height: 100%;
                border-radius: 50%;
                background: #000;
                opacity: .2;
                z-index: -1;
                transition: 1s;
            }
            
            img {
                position: relative;
                height: 150px;
                height: 10rem;
                width: 100%;
                object-fit: contain;
                transform: translateY(0) scale(.95);
                filter: drop-shadow(2px 5px 10px rgba(0,0,0,.2));
                // IO STYLE
                transition: .5s;
            }
        }

        .info {
            // border: 1px solid blue;
            transition: .5s;
            .title {
                // padding: 1rem;
                // color: #000;
                font-size: 1.2rem;
                font-family: $font-ubuntu;
                padding: 1rem;

            }
            .sub-info {
                // display: flex;
                // padding: 1rem;
                // align-items: center;
                // justify-content: space-between;
                // background-color: #000;
                // color: #000;
                // border-top: 1px solid rgba(0,0,0,.3);
                @include md {
                }
                .price {
                    font-family: $font-ubuntu;
                    color: #000;
                    font-size: 1.1rem;

                    span {
                        // font-size: 1rem;
                        // color: #fffa;
                        // text-decoration: line-through;
                    }
                }

                .stars {
                    display: none;
                    color: #9999;
                    font-size: 1.1rem;
                }
            }

        }
        .cta {
            margin: 1rem auto;
            width: 10rem;
            padding: .5rem 1rem;
            // display: flex;
            a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;

                i {
                    padding-left: .5rem;
                }
            }
        }

        .overlay {
            position: absolute;
            top: 0; right: 0;
            height: 223px;
            width: 100%;
            background: rgba(0,0,0,.25);
            // display: flex;
            // align-items: center;
            // justify-content: center;
            transition: none;
            transform: scale(0);
            padding: 1rem;

            p {
                line-height: 1.6;
                transform: translateY(-50%);
                transition: all .4s cubic-bezier(0, 1.57, .67, 1.18);
                transition-property: transform;
                opacity: 0;
                color: #fff;
                border-radius: 5px;
            }

            a {
                color: #666;
                color: #ead2a1;
                background: #000;
                border-radius: 5px;
                margin: 5vh auto;
                margin: 10px;
                width: 10rem;
                padding: .5rem;
                font-size: 1rem;
                opacity: 0;
                text-decoration: none;
                text-transform: capitalize;
                transform: translateY(-150px);
                transition: all .4s cubic-bezier(0, 1.57, .67, 1.18);
                transition-property: transform;
                transition-delay: calc(.1s * var(--i));

                p {
                    color: #ead2a1;
                    display: inline-block;
                    margin-left: .5rem;
                    background-color: transparent;
                }

                &:hover {
                    color: $span-gold;
                    transition: color .2s;
                }
            }
        }

        &.purple-item {
            // background: hsla(300, 100%, 25%, .1);
            .product-image {
                &::after {
                    background: $purple-gradient;
                    background: hsla(300, 100%, 25%, .6);
                }
            }
            .info {
                color: purple;
                
            }
            .cta {
                &::before {
                    background: $purple-gradient;
                }
                &::after {
                    background: purple;
                }
            }
        }
        &.red-item {
            // background: hsla(0, 100%, 25%, 0.1);
            .product-image {
                &::after {
                    background: $red-gradient;
                    background: hsla(0, 100%, 25%, .6);
                }
            }
            .info {
                color: maroon;
            }
            .cta {
                &::before {
                    background: $red-gradient;
                }
                &::after {
                    background: maroon;
                }
            }
        }
        &.blue-item {
            // background: hsla(240, 100%, 25%, .1);
            .product-image {
                &::after {
                    background: $blue-gradient;
                }
            }
            .info {
                color: navy; 
                
            }
            .cta {
                &::before {
                    background: $blue-gradient;
                }
                &::after {
                    background: navy;
                }
            }
        }
        
        &:hover {
            transform: scale(.985);
            transition: box-shadow .5s ease, transform .25s;
            @include md {
                transform: scale(1.05);     
            }
            &::before {opacity: 0;}
            &::after {opacity: 1;}
            .product-image {
                img {
                    transform: translateY(-5vh) scale(1);
                    filter: drop-shadow(2px 10px 5px rgba(0,0,0,.25));
                    transition: .5s ease;
                }
                &::after {
                    opacity: .3;
                }
            }
            .info {
                color: #000;
                
            }
        }

        // IO CLASS
        // &.box {
        //     .product-image {
        //         img {
        //             opacity: 0;
        //         transform: scale(.75);
        //         }
        //     }
        // }
        // IO ACTIVE STYLE
        // &.active-box {
        //     .product-image {
        //         img {
        //             transition: 1s ease;
        //             transform: scale(1);
        //             opacity: 1;
        //         }
        //     }
        // }
    }
    // PAGE LINK
    .page-link {
            display: block;
            width: 12rem;
            background: linear-gradient(0deg, #000, #161616);
            margin: 5vh 0;
            padding: .8rem;
            border-radius: $border-radius-brand;
            text-decoration: none;
            text-transform: capitalize;
            font-family: $font-ubuntu;
            color: $span-gold;
            transition: .3s;

            i {
                margin-left: .5rem;
            }
        
            &:hover {
                transform: scale(.98);
            }
    }
    #products-cta {
        margin: 5vh 0;
        width: 11rem;
    }
    &.active-products {
        &#products {
            .section-title {
                opacity: 1;
                letter-spacing: normal;
            }
        }

        // .products-container {
        //     transition: 1.5s;
        //     transition-delay: .5s;
        //     transform: translateY(0);
        //     opacity: 1;
        // }

    }
}