.hamburger {
    width: 2rem;
    height: 2rem;
    // border: .125rem solid $toggle;
    border-radius: 50%;
    isolation: isolate;
    display: grid;
    place-items: center;
    cursor: pointer;

    .bar {
        width: 70%;
        height: .125rem;
        background-color: $bar;
        z-index: 2;
        position: relative;
        border-radius: 10px;
        transition: .5s;

        &::before, &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: .125rem;
            background-color: $bar;
            transition: .5s;
            border-radius: 10px;

        }
        &::before {
            bottom: 6px;
            // background-color: #fff000;
        }
        &::after {
            top: 6px;
            // background-color: blue;
        }
    }

    &.active {
        // border-color: $toggle-active;
        .bar {
            // background: $toggle-active;
            &::before {
                transform: translateX(.25rem);
                // background: #fff7;
            }
            &::after {
                transform: translateX(-.25rem);
                // background: #fff7;
            }
        }
    }
}

.arrow {
    right: 50%;
    transform: translateX(50%);
    @media (max-width: 768px) {
        bottom: 10vh;
    }
    position: absolute;
    // right: 5;
    bottom: 20vh;
    z-index: 10;
    border: none;
    outline: 2px solid #000;
    background-color: $brand-gold;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    a {
        width: 2rem;
        height: 2rem;
        color: #000;
        display: grid;
        place-items: center;
        font-size: 1rem;
        text-decoration: none;
        border-radius: 50%;
        transition: .2s;
        opacity: 1;
        animation: arrow 4s infinite;
        transform: translateY(0);
        @keyframes arrow {
            20% {
                transform: translateY(2rem);
                opacity: 0;
            }
            21% {
                transform: translateY(-1.5rem);
                opacity: 0;
            }
            0%,35% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }   
    &:hover {
        background-color: #000;
        a {
            animation: none;
            border: none;
            outline: none;
            color: #ead2a1;
            opacity: 1;
            transform: translateY(0);
        }
    }
    // HERO PAD 2 ARROW
    &.gold-arrow {
        bottom: 15vh;
        right: 5vw;
        z-index: 10;
        @media (max-width: 1024px) {
            right: 50%;
            transform: translateX(50%) scale(.9);
            bottom: 10vh;
            &.intro-arrow {
                outline: 2px solid #ead2a1;
                bottom: 20vh;
                background: #000;
            }
        }
        background: #000a;
        border: none;
        outline: none;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
        a {
            overflow: hidden;
            color: #ead2a1;
        }
        &:hover {
            background-color: #ead2a1;
            a {
                color: #000;
            }
        }
    }
    // DESKTOP PAD ARROW
    &.pad-arrow {
        right: 50%;
        bottom: 50%;
        outline: 2px solid #ead2a1;
        background: #000;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
        a {
            overflow: hidden;
            color: #ead2a1;
        }
    }
}

// TOP-BTN
.top-btn {
    position: fixed;
    @media (max-width: 768px) {
        right: 3vw;
        bottom: 10vh;
    }
    right: 5vw;
    bottom: 1rem;
    // bottom: 0;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    transition: 1s;
    z-index: 5;
    // INDEX PAGE HOME BTN WITH INTERSECTION OBSERVER STYLE
    &.index-top-btn {
        transform: translateY(15vh);
        a {
            i {
                opacity: 1;
                // transform: translateY(150%);
            }
        }
        // TOP BTN VISIBLE AFTER HERO
    &.active-btn {
        // transition-delay: 2s;
        transform: translateY(0);
        opacity: 1;
        a {
            i {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &:hover {
            transition: .2s;
            transform: scale(.98);
            a {
                transition: .2s;
                i {
                    transition: .2s;
                }
            }
        }
        &:active {
            transition: .2s;
            transform: scale(.9) translateY(.2rem);
        }
    }
    }
    // PAGE HOME BTN 
    &.page-top-btn {
        opacity: 1;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        a {
            i {
                font-size: 1rem;
            }
        }
    }
    a { 
        height: 100%;
        width: 100%;
        background: transparent;
        transition: .2s;
        // border: 2px solid $brand;
        // border-top-right-radius: 10px;
        // border-top-left-radius: 10px;
        border-radius: 50%;
        border: none;
        outline: none;
        outline: 2px solid $brand-gold;

        padding: .3rem;
        display: grid;
        place-items: center;
        text-decoration: none;
        overflow: hidden;
        position: relative;
        isolation: isolate;
        // BTN BG AND SHADOWS
        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .3s;
            border-radius: 50%;
            // border-top-left-radius: 10px;
            // border-top-right-radius: 10px;
            // box-shadow: $box-shadow-top-btn;
            border: none;
            outline: none;
            z-index: -1;
        }
        &::before {
            background: $top-btn;
            background: #000;
        }
        &::after {
            opacity: 0;
            background: $top-btn-hover;
            background: $btn-gold;
        }
        i {
            font-size: 1.2rem;
            transition: 1s;
            color: #ead2a1;
        }
        // BTN HOVER STATE
        &:hover {
            outline: 2px solid #000;
            &::before {
                opacity: 0;
            } 
            &::after {
                opacity: 1;
            }

            i {
                color: #000;
            }
        }
    }
    

    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(.96);
    }
}

// LOADER 

.loader_bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $brand-gold;
    background: #000;
    z-index: 99;
    display: grid;
    place-items: center;
    overflow: hidden;

    .loader {
        /* border: 2px solid red; */
        height: 10rem;
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .loader-logo {
            border: 1px solid #000;
            border: .15rem solid $span-gold;
            background: linear-gradient(0deg, #111, #222);
            background: linear-gradient(0deg, #000, #161616);
            box-shadow: var(--box-shadow);
            color: #f4f4f4;
            color: $span-gold;
            border-radius: 50%;
            width: 50%;
            height: 50%;
            display: grid;
            place-items: center;
            // animation: logo 2s infinite;

            @keyframes logo {
                50% {
                    transform: scale(1.1);
                }
            }

            p {
                font-size: 1.7rem;
                padding: .5rem;
                font-weight: 700;
            }
        }

        .bar {
            border: 1px solid #fff000;
            border: none;
            // box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, .3);
            width: 60%;
            height: .5rem;
            overflow: hidden;
            position: relative;
            border-radius: 1rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: linear-gradient(0deg, #000, #222);
                background: linear-gradient(0deg, #000, $span-gold);
                border-radius: 1rem;
                animation: loader 1.5s infinite;
            }


        }
    }
}

@keyframes loader {

    0%,
    100% {
        transform: translateX(-50%);
        transition-timing-function: ease-in-out;

    }

    50% {
        transform: translateX(150%);
    }
}
// BOTTOM NAV
.footer-nav {
    position: fixed;
    z-index: 5;
    bottom: 0;
    // height: 7vh;
    height: auto;
    width: 100%;
    // border: 2px solid green;
    padding: .5rem 5vw;
    // padding: .5rem 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
    transform: translateY(9vh);
    transition: .5s;
    .item {
        // border: $border-brand-md;
        width: 100%;
        a {
            transition: 1s;
            text-transform: capitalize;
            text-decoration: none;
            font-size: .75rem;
            color: #f4f4f4;
            display: grid;
            place-items: center;
            i {
                font-size: 1rem;
                // border: 1px solid red;
                margin-bottom: .25rem;
                color: #fff7;
                opacity: .5;
                transition: 1s;
            }
        }
        @media (min-width:820px) {
            a {
                i {
                    font-size: 1rem;
                }
            }
            &:hover {
                a {
                    i {
                        opacity: 1;
                        transition: .25s;
                    }
                    transition: .25s;
                }
            }
        }

        &:hover {
            a {
                i {
                    opacity: 1;
                    transition: .25s;
                }
            }
        }
    }
    // DESKTOP NAV STYLE
    @media (min-width: 820px) {
        display: none;
        // padding: .5rem 5vw;
        // height: 100vh;
        // width: 5vw;
        // overflow: hidden;
        // flex-direction: column;
        // padding: .5rem;
        // border: 1px solid red;
        // transform: translateY(0) translateX(-10vw);
        // background: transparent;
        // .item {
        //     background-color: #000;
        //     height: 3rem;
        //     width: 5vw;
        //     a {
        //         padding: .5rem;
        //     }
        // }
    }
    // FOOTER NAV IO
    &.active-footer {
        transform: translateY(0);
    }
}

