
@import 'variables';
@import 'mixin';
@import 'header';
@import 'utilities';
@import 'footer';
@import 'hero';
@import 'sectionPads';
@import 'about';
@import 'contact';
@import 'products';
@import 'services';

// @font-face{
//     font-family: font-header;
//     src:url(/fonts/UniversalIgnorance.ttf);
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7vh;
    @media (min-width: 768px){
        scroll-padding-top: 6vh;
    }
    // font-family: 'Montserrat', sans-serif;
    font-family: $font-ubuntu;
}

// BODY 
body {
    // background: $brand-bg;
    // background: skyblue;
    width: 100%;
    
}

.container {
    background: $brand-bg;
    max-width: 100vw;
    // overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    z-index: 5;
    position: relative;
    // ACTIVE OVERLAY
    @media (max-width: 768px){
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s;
        background: #000;
        opacity: .6;
        display: none;
    }
    &.active-overlay {
        &::after {
            display: block;
        }
    }
}


}
main {
    // border: 2px solid $brand;
    width: 100%;
    // overflow-x: none;
    padding: 0;
    min-height: 200vh;
    background: hsl(0, 0%, 96%);
    background: #000;
    background-color: $brand-gold;
    // margin-top: 5vh;

    section {
        background-color: $brand-gold;
        min-height: 100vh;
        // border: 2px solid $brand;
        // margin: 0 5vw 10vh;
        @media (max-width: 768px) {
            margin: 0vh 0vw;
            padding: 10vh 5vw;
        }
        // padding: 5vh 0;
        // INTERSECTION STYLE
        // opacity: 1;
        // transition: 2s;
        // &.active {
        //     opacity: 1;
        // }

        .section-title {
            font-weight: 600;
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 4vw, 1.8rem);
            position: relative;
            // border-left: .2rem solid #0003;
            // padding-left: .5rem;
            position: relative;
            
            h2 {
                text-transform: uppercase;
                color: #000;
                padding: 0 .5rem;
            }
            &::before {
                content: '';
                position: absolute;
                height: 70%;
                top: 50%;
                transform: translateY(-50%);
                width: .2rem;
                background: #0004;
                border-radius: 1rem;
                transition: 1s ease;
            }
            &.box {
                transition: 1.5s;
                &::before {
                    transform: translateY(-50%) scale(0);
                }
            }
            &.active-box {
                &::before {
                    transform: translateY(-50%) scale(1);
                }
            }
        
        }
    }

    
}